<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Paciente</title>
</head>
<body>
<h1>Editar Paciente</h1>
<form th:action="@{'/pacientes/' + ${paciente.id}}" method="post">
    <input type="hidden" name="_method" value="put"/>
    <label>Nome:</label>
    <input type="text" name="nome" th:value="${paciente.nome}" required/>

    <label>Data de Nascimento:</label>
    <input type="date" name="dataNascimento" th:value="${paciente.dataNascimento}" required/>

    <button type="submit">Salvar</button>
</form>
</body>
</html>
